<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions" >
    <div>
        <h3>My Courses</h3>
        <a href="/me/trash/courses">Recycler ({{deletedCount}})</a>
        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">
                    Select all
                </label>
            </div>
            <select class="form-control form-control-sm checkbox-select-all-options" name="action" required="required" >
                <option value="">Choose an action</option>
                <option value="delete">Delete</option>
            </select>
            <button class="btn btn-primary btn-sm check-all-submit-btn" disabled="disabled">Confirm</button>

        </div>
    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Number</th>
                <th scope="col">
                    Course Name
                    {{{sortable "name" _sort}}}
                </th>
                <th scope="col">Level
                    {{{sortable "level" _sort}}}
                </th>
                <th scope="col">Date Created
                    {{{sortable "createdAt" _sort}}}
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Edit</a>
                    <a href="" class="btn btn-primary" data-id="{{this._id}}" data-bs-toggle="modal"
                        data-bs-target="#delete-course-modal">Delete</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5" class="text-center">You have not created any courses.
                    <a href="/courses/create">CREATE NOW!</a>
                </td>
                
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{! Confirm delete course }}
<div id="delete-course-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Your course will be transfered to Recycler! Are you confirmed to do that?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-delete-course" type="button" class="btn btn-danger">Confirmed</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var courseId;
        var deleteForm = document.forms['delete-course-form'];
        // var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        console.log(containerForm);
        var btnDeleteCourse = document.getElementById('btn-delete-course');
        var checkboxAll = $('#checkbox-all');
        var courseItemCheckbox = $('input[name="courseIds[]"]');
        var checkAllSubmitBtn = $('.check-all-submit-btn');

        // When dialog confirm clicked
        $("#delete-course-modal").on("show.bs.modal", function (event) {
            var
            button = $(event.relatedTarget); courseId = button.data("id");
        });

        // When confirmed button clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = "/courses/" + courseId + "?_method=DELETE";
            deleteForm.submit();
        };

        // When checkbox-all clicked
        checkboxAll.change(function(){
            var isCheckedAll=$(this).prop("checked");
            courseItemCheckbox.prop("checked",isCheckedAll);
            renderCheckAllSubmitBtn();
        });

        // Course item checkbox clicked
        courseItemCheckbox.change(function(){
            var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length;
            checkboxAll.prop("checked",isCheckedAll);
            renderCheckAllSubmitBtn();
        })
        
        // Re-render check all submit button
        function renderCheckAllSubmitBtn(){
            var checkedCount=$('input[name="courseIds[]"]:checked').length;
            if(checkedCount>0){
                checkAllSubmitBtn.attr("disabled",false);
            }
            else{
                checkAllSubmitBtn.attr("disabled",true);
            }
        }
    });
</script>